* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color: transparent;
color:white
}
div{
	background: transparent;
}
.btn{
	border-radius: 50%;
}
.header {
font-size: 20px;
text-align: center;
}

#array,#display {
background-color: white;
/* height: calc(100vh); */
width: 1000px;
margin: 50px auto auto auto;
position: relative;
margin-top: 64px;
}

.block {
	width:50%;
height: 28px;
/* background-color: #6b5b95; */
/*position: absolute;*/
/*left: 0px;*/
margin-top:-22px;
transition: 0.2s all ease;
/* background-color: #09091b; */
background: transparent;
}
.block2{
	float:left;
	background-color: darkgrey;
	/*position:absolute;*/
	transition:0.2s all ease;
}
.block_id {
display: block;
position: absolute;

text-align: center;
margin-left: -50px;
}
.block_id2{
/*position: absolute;*/
display: inline;
width:100px;
border:1px solid black;
padding:5px 5px;

height: 20px;;
color:black;
text-align: center;
background-color: cornflowerblue;
}
.block_3{
	
	/*position: absolute;*/
	border:1px solid black;
	color:black;
	padding:5px 5px;
	height:20px;
	display: inline;
	background-color: burlywood;
	width:100%;
	text-align: center;
}
#count{
	margin-top:-180px;
	float:top;
}
.footer1{
	float:right;
}
div span{
	width:10cm;
	/* float:left; */
	float:top;
}
div .card-body{
	height: calc(25vh);
	overflow-x: hidden;
}